

<div class="navEintragen">
  <ul class="ekb_daten_ul">
    <li class="ekb_daten_li"><a href="" ng-click="home()">Home</a></li>
  </ul>
</div>
<div id="startHome">
  <ul class="ekb_home_ul">
    <li class="ekb_home_li"><a href="" ng-click="anwesend()">Anwesenheit eintragen</a></li>
    <li class="ekb_home_li"><a href="" ng-click="nachtragenSelect()">Anwesenheit nachtragen</a></li>

    <li class="ekb_home_li"><a href="" ng-click="klasseAuswaehlen()">Schülerdaten bearbeiten</a></li>

    <li class="ekb_home_li" ><a href="" ng-click="logout()">Abmelden</a></li>
  </ul>
</div>
